/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css reset */

/* styling */
body {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
}

header,
main,
footer {
  width: 100vw;
}

/* header */
header {
  height: 100px;
  display: flex;
  place-content: center;
  place-items: center;
  background-color: #fff;
  order: 1;
}
header .icon {
  border: 0px solid transparent;
  background-color: #9dbdba;
  border-radius: 50%;
}
header h1 {
  font-size: 9vw;
  font-weight: bold;
  text-shadow: 0px 0px 9px #fff;
  padding: 1vh;
  color: #000;
}
/* header */
/* main */
main {
  order: 3;
  position: relative;
}
main article h3 {
  font-size: 4vw;
  margin: 50px 0 0px 0px;
  padding: 10px;
  background-color: #9dbdba;
  font-weight: bold;
  text-shadow: 0px 0px 9px #ffffff;
  position: relative;
  color: #000;
  border: 2px solid transparent;
}
main article .populer,
main article .rating,
main article .new {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #d6c7ae; */
  padding-top: 10px;
  position: relative;
}

main article .buku {
  width: 30%;
  margin-bottom: 10px;
  border: 5px solid #9dbdba;
  height: 350px;
  overflow: hidden;
  transition: 400ms;
  position: relative;
}
main article .buku img {
  width: 100%;
}
main article .desc {
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  transition: 400ms;
  position: absolute;
}
main article .desc .p1 {
  text-align: center;
  font-size: calc(1vw + 7px);
  font-weight: bold;
  margin: 5px;
}
main article .desc .p2 {
  text-align: center;
  font-size: calc(1vw + 9px);
  padding: 0 5px 0 5px;
}
main article .buku .btnRead {
  position: absolute;
  padding: 5px 0 5px 0;
  background-color: #9dbdba;
  border: 2px solid transparent;
  color: #fff;
  opacity: 0;
  transition: 2s;
  font-size: 3vw;
}
main article .buku:hover {
  box-shadow: 0px 0px 10px 5px #9dbdba;
  height: 400px;
}
main article .buku:hover .desc {
  background-color: #9dbdbab5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
main article .buku:hover .p2,
main article .buku:hover .p1 {
  text-shadow: 0px 0px 9px #000;
  color: #fff;
  font-size: calc(1vw + 8px);
}
main article .buku:hover .btnRead {
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  text-shadow: 0px 0px 9px #000;
}
/* main */
/* aside */
main aside {
  order: 2;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
  position: relative;
}
main aside h3 {
  font-size: calc(3vw + 9px);
  padding: 10px;
  text-align: center;
  width: 100%;
  border: 0px solid transparent;
  background-color: #9dbdba;
  font-weight: bold;
  text-shadow: 0px 0px 9px #ffffff;
  position: relative;
  color: #000;
  margin-bottom: 10px;
}
main aside .ptw {
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}
main aside img {
  width: 50%;
  border-top: 5px solid #9dbdba;
  border-right: 5px solid #9dbdba;
  border-left: 5px solid #9dbdba;
}
main aside .desc {
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  width: 50%;
  /* background-color: #d6c7ae; */
  border-bottom: 5px solid #9dbdba;
  border-right: 5px solid #9dbdba;
  border-left: 5px solid #9dbdba;
}
main aside .desc .p1 {
  text-align: center;
  font-size: calc(2vw + 5px);
  font-weight: bold;
  margin: 10px;
}
main aside .desc .p2 {
  text-align: center;
  font-size: calc(2vw + 6px);
}
/* aside */
/* footer */
footer {
  margin-top: 20px;
  order: 4;
  background-color: #9dbdba;
  height: 100px;
  display: flex;
  place-content: center;
  place-items: center;
}
footer h2 {
  color: #000;
  font-size: 4vw;
}
/* footer */
/* styling */

/* animation */
@keyframes bookDesc {
  0% {
  }
  100% {
    background-color: #d6c7aec0;
    top: 0;
    left: 0;
  }
}
/* animation */

/* breakpoint */
@media (min-width: 530px) {
  /* header */
  header h1 {
    font-size: 5vw;
  }
  /* header */

  /* main */
  main article .buku {
    height: 400px;
  }
  main article h3 {
    font-size: calc(3vw + 8px);
    padding-left: 15px;
  }
  main article .desc .p1 {
    font-size: calc(1vw + 7px);
  }
  main article .desc .p2 {
    font-size: calc(1vmax + 7px);
  }

  main article .buku:hover {
    height: 500px;
  }
  main article .buku:hover .desc {
    height: 100%;
  }
  main article .buku:hover .p1,
  main article .buku:hover .p2 {
    font-size: calc(1vmax + 10px);
  }
  main article .buku .btnRead {
    font-size: calc(1vmax + 7px);
  }
  /* main */
  /* aside */
  main aside h3 {
    font-size: calc(3vw + 8px);
  }
  main aside .desc .p1 {
    font-size: calc(1vw + 9px);
  }
  main aside .desc .p2 {
    font-size: calc(1vw + 9px);
  }
  /* aside */
  /* footer */
  footer h2 {
    font-size: calc(1vw + 13px);
  }
  /* footer */
}

@media (min-width: 1024px) {
  
  /* header */
  header {
    margin-top: 30px;
  }
  header h1 {
    font-size: 4vw;
  }
  /* header */

  /*main */
  main {
    display: flex;
    justify-content: space-evenly;
margin-top: 50px;
  }
  main article {
    width: 65vw;
    box-sizing: border-box;
    top: 50px;
    box-shadow: 0px 0 10px 2px #000;
    margin-bottom: 100px;
  }
  main article h3 {
    font-size: calc(1vw + 10px);
    margin-top: 0px;
    margin-bottom: 0;
    padding: 7px;
  }
  main article .buku {
    height: 400px;
    width: 22%;
  }

  main article .desc .p1 {
    font-size: calc(1vw + 5px);
  }
  main article .desc .p2 {
    font-size: calc(1vw + 5px);
  }
  main article .buku:hover {
    /* box-shadow: 0px 0px 10px 5px #5d3c14; */
    height: 550px;
  }
  main article .buku:hover .desc {
    height: 100%;
  }
  main article .buku .btnRead {
    font-size: calc(1vmax + 7px);
  }
  main article .buku:hover .p1,
  main article .buku:hover .p2 {
    font-size: calc(1vw + 6px);
  }
  /*main */
  /* aside */
  main aside {
    width: 30vw;
    align-self: start;
    box-shadow: 0px 0 10px 2px #000;
    box-sizing: border-box;
  }
  main aside h3 {
    font-size: calc(1vw + 8px);
  }
  main aside .desc,
  main aside img {
    width: 80%;
  }
  main aside .desc .p1 {
    font-size: calc(1vw + 5px);
  }
  main aside .desc .p2 {
    font-size: calc(1vw + 5px);
  }
  /* aside */
  /* footer */
  footer h2 {
    font-size: calc(1vw + 13px);
  }
  /* footer */
}
/* breakpoint */
